{#
   {% include "../elements/button.twig" with {
      tag:'', a/ button
      type : '',
      style: '',
      value: 'some Text',
      shape: '', normal / circle
    }%}
#}
{% if shape == "normal" %}
  <button class="btn {{ type }} {{ style }}">{{ value }}</button>
{% elseif shape == "circle" %}
  <button class="btn {{ type }} {{ style }}">{{ value }} {{ icon }}</button>
{% elseif submit == true %}
  <button type="submit" class="btn-eq {{ type }} {{ style }}">{{ icon }}</button>
{% endif %}
