<header class="header">
  {% for item in items %}
    <div class="{{item.classHeader}}">
      {% for child1 in item.itemChild1 %}
        <div class="{{child1.classChild1}}">
          {% if child1.childUl %}
            {% for ul in child1.ul %}
              <ul class="{{ul.classUl}}">
                {% for li in ul.li %}
                  <li class="{{li.classLi}}">
                  {% if li.span %}
                    {% for span in li.span %}
                      <span class="{{span.classSpan}}">{{span.content}}</span>
                    {%  endfor  %}
                  {% endif %}
                  {% if li.i %}
                      <i class="{{li.classIcon}}"></i>
                  {% endif %}
                  </li>
                {%  endfor  %}
              </ul>
            {%  endfor  %}
          {% endif %}
          {% if child1.existh1 %}
            <h1 class="{{child1.classH1}}">{{child1.content}}</h1>
          {% endif %}
          {% if child1.existUl %}
            <ul class="{{child1.ul}}">
              {% for liItem in child1.liItem %}
                <li class="{{liItem.class}}">
                  <a href="#" class="displayItem {{ listItem.active ? 'active' : ''}}">
                    <span class="{{liItem.spanClass}}">
                      {{liItem.content}}
                      {% if liItem.existI %} 
                        <i class="{{liItem.classI}}"></i>
                      {% endif %}
                    </span>
                    {% if liItem.existI %}
                      <div class="{{liItem.classDiv}}">
                        <ul class="header_bottom_menu_parent_child_div_ul">
                          <li>test</li>
                          <li>test</li>
                        </ul>
                      </div>
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if child1.existDiv %}
            {% for divItem in child1.divItem %}
              <div class="{{divItem.classDiv}}">
                {% if divItem.existI %}
                  <i class="{{divItem.classI}}"></i>
                {% endif %}
                {% if divItem.existOtherItem %}
                  <h1 class="{{divItem.h1}}">{{divItem.contentH1}}</h1>
                  <span class="{{divItem.span}}">{{divItem.contentSpan}}</span>
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {%  endfor  %}
    </div>
  {%  endfor  %}
</header>