<footer class="footer container">
  {% for item in items %}
    <div class="{{ item.classNode }}">
      {% if item.itemTop %}
        {% for topItem in item.footerTopItem %}
          <div class="{{ topItem.classCols }}">
            <h1 class="{{ topItem.h1Class }}">{{ topItem.h1Content }}</h1>
            {% if topItem.hasDescription %}
              <p class="{{ topItem.descriptionClass }}">{{ topItem.descriptionContent }}</p>
            {% endif %}
            {% if topItem.hasLink %}
            <ul class="footer_top_cols_item">
              {% for itemRow in topItem.itemLink %}
                <li class="{{ itemRow.classLink }}"><a href="#">{{ itemRow.content }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if topItem.hasContact %}
              <ul class="footer_top_cols_item">
                {% for itemRow in topItem.itemLink %}
                  <li class="{{ itemRow.classLink }}">{{ itemRow.content }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
      {% if item.itemBottom %}
        {% for itemFooter in item.footerBottomItem %}
          <div class="{{ itemFooter.classChildNode }}">
            {% if itemFooter.noLink %}
              {{ itemFooter.content }}
            {% endif %}
            {% if itemFooter.hasLink %}
              <ul class="footer_bottom_icon_ul">
                {% for row in itemFooter.boottomFooter %}
                  <li class="{{ row.classLi }}"><a href="#" class="{{ row.classA }}"><i class="{{ row.classi }}"></i></a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
</footer>