<div class="block block-card-blog">
  <div class="block-card-blog_image">
    <img src="{{img}}" title="{{img}}" alt="{{img}}">
  </div>
  <h4 class="block-card-blog_date">Jan 25, 2020</h3>
  <h3 class="block-card-blog_title">
    {{title}}
  </h3>
  <p class="block-card-blog_text">
    {{text}}
  </p>
  <a href="#" class="block-card-blog_readMore">Read More <i class="block-card-blog_readMore_icon icon-next"></i></a>
</div>