<div class="block block-card">
  <div class="block-card__image">
    <img src="{{img}}" title="{{img}}" alt="{{img}}">
  </div>
  <h4 class="block-card__title">
    {{title}}
  </h4>
  <p class="block-card__text">
    {{text}}
  </p>
</div>
