<div class="block block-elevated">
  <div class="block-elevated__logo">
    <img src="{{img}}" title="{{img}}" alt="{{img}}">
  </div>
  <p class="block-elevated__text">
    {{text}}
  </p>
  <div class="block-elevated__button">
    <button class="{{btnClasses}}">{{btnText}}</button>
  </div>
</div>
