<div class="block block-expert-practice">
        <div><span class="{{ item.icon }} block-expert-practice__icon"></span></div>
        <h4>{{ item.title }}</h4>
        <p>
            {{ item.text }}
        </p>
        <a href="{{ item.btnUrl }}" class="{{ item.btnClass }}">{{ item.btnText }}</a>
</div>